<!-- add remote: true to enable Ajax on the form -->
<%= form_for [question] do |f| %>
 <%= question.topics.empty? %>

  <div class="form-group answer-form">
    <%= f.text_area :title, rows: 2, cols: 40, class: 'form-control', placeholder: "What is your question?" %>
  </div>

  <div class="form-group">
    <%= f.fields_for :question_topic do |builder| %>
      <fieldset>
        <%= builder.label :topic_id, "Topic" %>
        <%= builder.number_field :topic_id %>
      </fieldset>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.submit "Ask Question", class: 'btn btn-success btn-xs' %>
  </div>
<% end %>