<h1>All Questions</h1>
<% if policy(Question.new).create? %>
  <%= link_to "Add Question", new_topic_question_path(@topic) , class: 'btn btn-success' %>
<% end %>
<h2><%= @topic.title %></h2>
<% @questions.each do |question| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= question.title %> 
        <% if policy(question).edit? %>
          <%= link_to "Edit", edit_topic_question_path(@topic, question), class: 'btn btn-success btn-xs' %>
        <% end %>
      </h4> 
       <small>
          submitted <%= time_ago_in_words(question.created_at) %> ago by <%= question.user.name %>
      </small>

       <h5><%= question.answers.count %> Answers</h5>
          
       <% question.answers.each do |answer| %>
          <p><%= answer.body %><br/>
          <small>submitted <%= time_ago_in_words(answer.created_at) %> ago by <%= answer.user.name %>
          </small>
          </p>
       <% end %>
    </div>
  </div>
  <hr>
<% end %>
